<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #app {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .box {
            width: 50%;
            height: 300px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <div id="app">
        <div class="box">
            <input type="text" v-model="email">{{email}}
        </div><button @click="send">发送验证码</button>
        <ul class="box">
            <li v-for="(item,index) in list">{{index}}----{{item}}</li>
        </ul><button @click="log">获取验证码列表</button>
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    list: {
                    },
                    email: ''
                }
            },
            methods: {
                send() {
                    axios.post('http://localhost/api/sendcode', {
                        email: this.email,
                    }).then((res) => {
                        console.log(res)
                    })
                },
                log() {
                    axios.post('http://localhost/api/log', {
                    }).then((res) => {
                        this.list = res.data.message
                    })
                }
            },
        }).mount('#app')
    </script>

</body>

</html>